#dropdown-basic-button::after {
  content: none;
  border: none;
  outline: none;
}
.place {
  padding: 12px;
  font-size: 22px;
}
.DropDown-Menu:focus {
  outline: 4px solid var(--primary, #19b394) !important;
  border-radius: 0px !important;
}
#dropdown-basic-button:focus:hover {
  border: none;
  outline: none;
}
.mydropdown:active {
  border: none;
  font: bold;
  outline: none;
}
.dropdown-toggle:after {
  display: none;
}

.draggable {
  border-radius: 4px;
  background: #cc0000;
  width: 40px;
  height: 40px;
}
.dropbtn {
  position: absolute;
  left: 19rem;
  top: 0.7rem;
}
#popover-positioned-top {
  border-radius: 0 !important;
  border: none;
}
.popover-positioned-top {
  overflow-y: scroll;
  height: 24rem;
  font-size: 1.2rem;
  font-weight: 100 !important;
  box-shadow: 0px calc(1 * var(--base-unit, 8px))
    calc(2 * var(--base-unit, 8px)) rgba(0, 0, 0, 0.1);
}
#firstdrop,
#secondDrop,
#thirdDrop,
#fourthDrop,
#fifthDrop,
#sixthDrop {
  display: none;
}
.drop {
  display: none;
  align-items: flex-end;
}
@media (max-width: 1000px) and (min-width: 0px) {
  .translation {
    display: none;
    flex-direction: column;
  }
  .drop {
    display: flex;
    align-items: flex-end;
  }

  #firstDrop {
    display: flex;
  }
}
@media (max-width: 900px) and (min-width: 0px) {
  .embeded {
    display: none;
    flex-direction: column;
  }
  #secondDrop {
    display: flex;
  }
}
@media (max-width: 800px) and (min-width: 0px) {
  .json {
    display: none;
    flex-direction: flex;
  }

  #thirdDrop {
    display: flex;
  }
}
@media (max-width: 700px) and (min-width: 0px) {
  .logic {
    display: none;
  }
  #fourthDrop {
    display: flex;
    flex-direction: flex;
  }
}
@media (max-width: 600px) and (min-width: 0px) {
  .preview {
    display: none;
  }
  #fifthDrop {
    display: flex;
  }
}
@media (max-width: 600px) and (min-width: 0px) {
  .embeded {
    display: none;
    flex-direction: column;
  }
  #fifthDrop {
    display: flex;
  }
}
@media (max-width: 500px) and (min-width: 0px) {
  .designer {
    display: none;
  }

  #sixthDrop {
    display: flex;
  }
}
.previewDrop:hover {
  text-align: center;
  color: white;
  background-color: lightgray;
}
.previewDrop:focus {
  background-color: var(--primary, #19b394) !important;
}
.my-accordion .accordion-button::after {
  display: none;
}
.popover-preview {
  width: 8rem;
  text-align: center;
  box-shadow: 0px calc(1 * var(--base-unit, 8px))
    calc(2 * var(--base-unit, 8px)) rgba(0, 0, 0, 0.1) !important;
}

.dropdown-toggle::after {
  display: none !important;
}
select {
  background-image: none !important;

  background-repeat: no-repeat;
}
select:hover {
  background: whitesmoke;
}
/* accrodium css */
.accordion-button:hover {
  background-color: whitesmoke !important;
}

.accordion-button {
  background-color: transparent !important;
  color: grey !important;
}
.accordion-button:focus {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  border-bottom: 1px solid lightgray !important;
}
.accordion {
  outline: none !important;
  border-radius: none;
}
.accordion-header {
  outline: none !important;
  border-radius: none;
}
.mainDrop:hover {
  background: whitesmoke;
}
.mainDrop:hover + b {
  color: #19b394;
}
.mainDrop {
  cursor: pointer;
  padding-left: 20px;
  font-size: calc(2 * var(--base-unit, 8px));
  font-family: var(--font-family, var(--font-family));
  font-weight: 400;
}


.dropItem{
  border:1px solid blue;
  border-radius: 60px;
  
}
